.header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
}

.header__nav{
    width: 100%;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 1em;

}
.header__nav__item__logo{
    margin-right: auto;
    font-size: 1.5rem;
    font-weight: bold;
}
.header__nav__item{
    font-size: 1.25rem;
}


.header__description{
    flex-basis: 100%;
    margin-block: .25em;
}

@media screen and (min-width:700px) {
    .header{
        width: 80%;
        margin-inline: auto;
        margin-block: 1em;
    }
    .header__nav__item__logo{
        font-size: 2rem;
    }
}